<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<dom-module id="page-error">
  <template>
    <style>
    </style>

    <h1>Error sistema,</h1>
    <h1>inténtelo más tarde</h1>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageError extends Polymer.Element {
      static get is() { return 'page-error'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(PageError.is, PageError);
  </script>
</dom-module>
