<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-usuario/visor-usuario.html">


<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[first_name]] [[last_name]]!</h2>
    <h3>y mi email [[email]] </h3> -->

    <input placeholder="email" type="email" value="{{email::input}}">
    <input placeholder="password" type="password" value="{{password::input}}">
    <button on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!</span>

    <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          }, email: {
            type: String
          }, isLogged: {
            value: false,
            type: Boolean
        }
      }
      }
      login(){
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

          //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
          this.$.doLogin.body = JSON.stringify(loginData);
          //este ḿétodo va a lanzar la petición IRON AJAX
          this.$.doLogin.generateRequest();

          console.log("Petición enviada");

      }

//cuando recibimos algo que no es un error pasa por esta función manageAJAXResponse
      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response.idUsuario);

        this.isLogged = true;
//con esto hago una redirección a la url user/
        window.location = "user/" + data.detail.response.idUsuario;
      }

//cuando recibimos algo que es un error pasa por esta función showError
      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
      }



    }

//esta es la funcion que relaciona el customElements con la etiqueta visor-usuario
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
