<link rel="import" href="../../../components/polymer/polymer.html">
<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-login-view/cells-login-view.html">
<!-- <link rel="import" href="../../../components/cells-login-view/cells-login-view-styles.html"> -->
<link rel="import" href="../../../../resources/images/touch/paisaje1.jpeg">


<dom-module id="login-page">

  <template>
    <style is="custom-style">

      cells-component-app-header {
        --cells-component-app-header-bg-color: #002171;
      }

      cells-template-paper-drawer-panel {
        background-color:#5472d3;
      }


    </style>

    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <cells-component-app-header
          text=[[headerTitle]]>
        </cells-component-app-header>
      </div>



      <!-- <div slot="app__main" class="container">
        <h1>[[status]]</h1>
        <h2>Navigate to another page</h2>
        <button id="navigateButton"
                on-click="_handleClick"
                class="prev-next-button next">&rarr;</button>
      </div> -->
      <div slot="app__main">
        <cells-login-view
          allow-registration
          clear-id-icon="coronita:close"
          clear-pwd-icon="coronita:close"
          toggle-pwd-icon="coronita:visualize"
          toggle-pwd-icon-toggled="coronita:hide"
          start-icon="coronita:lock"
          end-icon="coronita:unlock"
          header-image="http://bbva-files.s3.amazonaws.com/cells/assets/glomo/images/access/bg-login.jpg">
        </cells-login-view>
        <cells-credentials-form>
        </cells-credentials-form>
        <!-- <cells-molecule-spinner></cells-molecule-spinner> -->
      </div>

    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class LoginPage extends CellsPage {
        static get is() {
          return 'login-page';
        }

        static get properties() {
          return {
            headerTitle: {
              type: String,
              value: 'Login page!'
            },
            status: String
          };
        }

        onPageEnter() {
          console.log('Page loaded');
        }

        onPageLeave() {
          console.log('Page unloaded');
        }

        _handleClick() {
          this.publish('from-channel', {from: 'login'});

          // this.navigate('another', {title: 'This is another page'});
          this.navigate('users');
        }

        //funciones asociadas a login
        loadingSuccess(data) {
          console.log("loadingSuccess:",data);
        }
        loginError() {
          console.log("login error");
        }
        _doLogin(e) {
          console.log("_doLogin(e)");
        }
        loadingProcessNextStep() {
          console.log("  loadingProcessNextStep()");
        }
      }

      window.customElements.define(LoginPage.is, LoginPage);
    }
  </script>


</dom-module>
