<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="alta-cargo">
  <template>
    <style></style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- barra de navegación -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" title="Toggle Navigation Menu"></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="volverHome">POSICION GLOBAL</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="logout">LOGOUT</a>
        <!-- <a href="#movimientos" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MOVIMIENTOS</a> -->
      </div>
    </div>

    <!-- imagen -->
    <div class="w3-content" style="max-width:1800px;margin-top:46px">
      <div class="w3-display-container w3-center">
        <img src="src/images/png/ahorro.png" style="width:100%"  class="w3-grayscale-min">

        <div class="w3-display-topmiddle w3-text-grey w3-opacity" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">Enviar dinero ya</span><br>
          <span class="w3-jumbo w3-hide-small">con Bizum!</span><br>
        </div>
      </div>

      <div class="w3-display-middle w3-center w3-text-teal" style="width:20%" >
        <h2>Rellene los datos</h2>

        </br>
        <label class="w3-text-teal w3-left" ><b>Teléfono bizum</b></label>
        <input name="phone" placeholder="Telefono" type="phone" value="{{phone::input}}" class="w3-input w3-border w3-light-grey" required>

        </br>
        <label class="w3-text-teal w3-left"><b>Concepto</b></label>
        <input name="Concepto" placeholder="Concepto" type="string" value="{{concept::input}}" class="w3-input w3-border w3-light-grey" required>

        </br>
        <label class="w3-text-teal w3-left"><b>Importe</b></label>
        <input name="Importe" placeholder="Importe" type="number" value="{{import::input}}" class="w3-input w3-border w3-light-grey" required>

        </br>
        <button class="w3-button w3-round w3-teal"  on-click="altaMovimiento">Enviar dinero</button>


      </div>
  </div>

    <iron-ajax auto
    id="getRatesDivisa"
    url="http://localhost:3000/apiexterna/RatesDivisa"
    handle-as="json"
    on-response="showData"
    />

    <iron-ajax
    id="doaltaMovimiento"
    verbose=true
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{iban}}/movements"
    handle-as="json"
    content-type="application/json"
    method="POST"
    body=[{"concept": "{{concept}}", "import": {{import}} ,"movementDate": "{{movementDate}}"}]
    on-response="manageAJAXResponse"
    on-error="showError"
    />
    <iron-ajax
    id="doLogout"
    url="http://localhost:3000/apitechu/v2/logout/{{id}}"
    method="POST"
    handle-as="json"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCargo extends Polymer.Element {
      static get is() { return 'alta-cargo'; }
      static get properties() {
        return {
          accountId: {
            type: String
          }, IBAN: {
            type: String
          }, concept: {
            type: String
          }, telefono: {
            type: String
          }, import: {
            type: Number
          }, importUSD: {
            type: Number
          }, cambioUSD: {
            type: Number
          }, movementDate: {
            type: Date
          }, id: {
            type: Array,
            value: localStorage.idUsuario
          }, iban: {
            type: Array,
            value: localStorage.IBAN.substr(0,4)+localStorage.IBAN.substr(5,4)+localStorage.IBAN.substr(10,4)+localStorage.IBAN.substr(15,4)+localStorage.IBAN.substr(20,4)
          }, iban2: {
            type: Array,
            value: localStorage.IBAN.substr(0,4)+" "+localStorage.IBAN.substr(5,4)+" "+localStorage.IBAN.substr(10,4)+" "+localStorage.IBAN.substr(15,4)+" "+localStorage.IBAN.substr(20,4)
          }, Error: {
            type: String,
            value: ""
          }
        };
      }

      showData(data) {

        this.cambioUSD = data.detail.response.rates.USD;

      }

      altaMovimiento () {
        console.log("entra altaMovimiento");

        // fecha del día
        var date = new Date();
        console.log(date);
        var d  = date.getDate();
        var day = (d < 10) ? '0' + d : d;
        var m = date.getMonth() + 1;
        var month = (m < 10) ? '0' + m : m;
        var yy = date.getYear();
        var year = (yy < 1000) ? yy + 1900 : yy;
        var movementDate = day + "/" + month + "/" + year;
        console.log(movementDate);

        var h = date.getHours();
        var m = date.getMinutes();
        var s = date.getSeconds();
        var hora = h + ":" + m + ":" + s;
        console.log("hora:",hora);

        var importe = this.import * (-1);

        console.log("importe:",importe);

        var importUSD = importe * this.cambioUSD;

        console.log("importUSD:",importUSD);

        var num = parseFloat(importUSD);
        var importUSD = Math.round(num*100)/100;

        console.log("importUSD:",importUSD);

        var movement = {
          "phone" : this.phone,
          "concept" : this.concept,
          "import" : importe,
          "importUSD" : importUSD,
          "movementDate" : movementDate,
          "movementHour" : hora
        }

        console.log(movement);



        //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable altaData en el body de llamada
        this.$.doaltaMovimiento.body = JSON.stringify(movement);
        //este ḿétodo va a lanzar la petición IRON AJAX
        this.$.doaltaMovimiento.generateRequest();

        console.log("ejecutado alta");

      }

      manageAJAXResponse(data) {
        console.log("manageAJAXResponse",data);
        window.location = "/movements";
      }

      volverHome(e) {
        window.location = "/home";
      }

      logout() {
        console.log("logout id:",localStorage.idUsuario);

        this.id = localStorage.idUsuario;

        //inicializo variable
        var idlogout = {};

        //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
        this.$.doLogout.body = JSON.stringify(idlogout);
        //este ḿétodo va a lanzar la petición IRON AJAX
        this.$.doLogout.generateRequest();

        window.location = "/";
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        window.location = "/page-error";
      }
    }

//esta es la funcion que relaciona el customElements con la etiqueta visor-usuario
    window.customElements.define(AltaCargo.is, AltaCargo);
  </script>
</dom-module>
