<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- <link rel="import" href="../visor-usuario/visor-usuario.html"> -->



<dom-module id="alta-cliente">
  <template>
  <style is="custom-style">
  </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <header class="w3-display-container w3-content" style="max-width:1200px;">
        <img class="w3-image" src="src/images/im1.jpg" alt="The Login" style="min-width:1000px" width="1500" height="800">

        <div class="w3-display-topleft w3-text-white" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">Esta es nuestra Banca</span><br>
        </div>

        <div class="w3-display-left w3-padding w3-col 16 m8">

          <div class="w3-round w3-container w3-teal" style="width:40%">
            <h2>Alta Nuevo Usuario!</h2>
          </div>

          <div class="w3-container" style="width:40%">
            </br>
            <label class="w3-text-teal"><b>First_name</b></label>
            <input name="first_name" placeholder="first_name" type="string" value="{{first_name::input}}" class="w3-round w3-input w3-border w3-light-grey" required>

            </br>
            <label class="w3-text-teal"><b>Last_name</b></label>
            <input name="last_name" placeholder="last_name" type="string" value="{{last_name::input}}" class="w3-round w3-input w3-border w3-light-grey" required>

            </br>
            <label class="w3-text-teal"><b>Email</b></label>
            <input name="email" placeholder="email" type="email" value="{{email::input}}" class="w3-round w3-input w3-border w3-light-grey" required>

            </br>
            <label class="w3-text-teal"><b>Password</b></label>
            <input placeholder="password" type="password" value="{{password::input}}"  class="w3-round w3-input w3-border w3-light-grey" required>
            </br>
            <button class="w3-round w3-button w3-blue-grey" on-click="altaCliente">Alta</button>
            <span class="w3-text-red" hidden$="{{!isError}}">Error en proceso de alta</span>

            <h4 class="w3-text-white  w3-center" on-click="VolverLogin">Volver</h4>
          </div>
        </div>
    </header>

    <iron-ajax
    id="doAltaCliente"
    url="http://localhost:3000/apitechu/v2/users"
    handle-as="json"
    content-type="application/json"
    method="POST"
    body =[{"first_name": "{{first_name}}", "last_name": "{{last_name}}" ,"email": "{{email}}", "password": "{{password}}"}]
    on-response="manageAJAXResponseuno"
    on-error="showErrortres"
    />
    <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponsedos"
    on-error="showErrordos"
    />
    <iron-ajax
    id="doAltaCuenta"
    url="http://localhost:3000/apitechu/v2/users/accounts/{{idUsuario}}"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponsetres"
    on-error="showErroruno"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AltaCliente extends Polymer.Element {
      static get is() { return 'alta-cliente'; }
      static get properties() {
        return {
          password: {
            type: String
          }, email: {
            type: String
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, isLogged: {
            value: false,
            type: Boolean
          }, isError: {
            value: false,
            type: Boolean
          }, idUsuario:  {
            type: Number
          }
        }
      }
      login(){
        console.log("El usuario ha pulsado el botón - IRON");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

          //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
          this.$.doLogin.body = JSON.stringify(loginData);
          //este ḿétodo va a lanzar la petición IRON AJAX
          this.$.doLogin.generateRequest();

          console.log("Petición enviada");

      }

      //si todo OK se ejecuta esto: cuando recibimos algo que no es un error pasa por esta función manageAJAXResponse
      manageAJAXResponsetres(data) {
        console.log("Recibo datos de Alta cuenta");


        //con esto indico que vaya a home si todo va bien
        window.location = "home";
      }

      //si ERROR se ejecuta esto: cuando recibimos algo que es un error pasa por esta función showError
      showErrordos(error) {
        console.log("Ha habido un error");
        console.log(error);
        this.isError = true;
      }

      altaCliente(){
        console.log("pulsa boton alta");

        var altaData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "password" : this.password
        };

          //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable altaData en el body de llamada
          this.$.doAltaCliente.body = JSON.stringify(altaData);
          //este ḿétodo va a lanzar la petición IRON AJAX
          this.$.doAltaCliente.generateRequest();

          console.log("Petición enviada2");

      }

      //OK alta cliente
      manageAJAXResponsedos(data) {
        console.log("Login - manageAJAXResponsedos");

        console.log("alta cuenta");

        this.idUsuario = data.detail.response.idUsuario;
        console.log("idUsuario:");
        console.log(this.idUsuario);
        this.isLogged = true;
        console.log(this.isLogged);
        //enviar EmisorEvento

        //prueba para almacenar en memoria local
        if (this.isLogged) {
          localStorage.setItem("idUsuario",this.idUsuario);
        }


        //inicializo variable
           var AltaCuenta = {};

          console.log("AltaCuenta:",AltaCuenta);

            //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
            this.$.doAltaCuenta.body = JSON.stringify(AltaCuenta);
            //este ḿétodo va a lanzar la petición IRON AJAX
            this.$.doAltaCuenta.generateRequest();

      }

      //si ERROR se ejecuta esto: cuando recibimos algo que es un error pasa por esta función showError
      showErroruno(error) {
        console.log("Ha habido un error en alta cliente");
        console.log(error);
        this.isError = true;
      }

      VolverLogin() {
        console.log("volver a login");
        window.location = "/";
      }


      manageAJAXResponseuno(data) {
        console.log("entra en alta cliente - manageAJAXResponsetres");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

          //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
          this.$.doLogin.body = JSON.stringify(loginData);
          //este ḿétodo va a lanzar la petición IRON AJAX
          this.$.doLogin.generateRequest();

      }

      //si ERROR se ejecuta esto: cuando recibimos algo que es un error pasa por esta función showError
      showErrortres(error) {
        console.log("Ha habido un error en alta cuenta");
        console.log(error);
        this.isError = true;
      }



    }

    //esta es la funcion que relaciona el customElements con la etiqueta visor-usuario
    window.customElements.define(AltaCliente.is, AltaCliente);
  </script>
</dom-module>
