<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">

<dom-module id="another-page">
  <template>
    <style>
      cells-component-app-header {
        --cells-component-app-header-bg-color: #a00037;
      }

      cells-template-paper-drawer-panel {
        background-color: #ff5c8d;
      }

      .container {
        padding-bottom: 140px;
        margin: 20px 20px 40px;
        background-color:#d81b60 ;
        position: relative;
      }

      .container h2 {
        padding-top: 20%;
        color: white;
        text-align: center;
        font-family: sans-serif;
      }

      .container:after {
        content: '';
        display: block;
        clear: both;
      }

      .prev-next-button {
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        border: none;
        font-size: 30px;
        color: #a00037;
        transform: translateY(-50%);
      }

      .previous { left: 10px; }
      .next { right: 10px; }
    </style>

    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <cells-component-app-header
          text=[[headerTitle]]>
        </cells-component-app-header>
      </div>

      <div slot="app__main" class="container">
        <button id="navigateButton"
                on-click="_handleClick"
                class="prev-next-button previous">&larr;</button>
        <h2>Go back to [[fromPage]] page!</h2>
      </div>
    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class AnotherPage extends CellsPage {
        static get is() {
          return 'another-page';
        }

        static get properties() {
          return {
            headerTitle: {
              type: String,
              computed: '_computeHeaderTitle(params)'
            },
            fromPage: {
              type: String
            }
          };
        }

        ready() {
          super.ready();

          this._handleConnections();
        }

        _computeHeaderTitle(params) {
          const pageTitle = params['another-page'] || '';

          return decodeURI(pageTitle).replace(/-/g, ' ');
        }

        _handleConnections() {
          this.subscribe('from-channel', data => {
            const { from } = data;

            this.fromPage = from;
          });
        }

        _handleClick() {
          this.navigate('home');
        }
      }

      window.customElements.define(AnotherPage.is, AnotherPage);
    }
  </script>
</dom-module>
