<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario-iron">
  <template>
  <style is="custom-style">
  </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <header class="w3-display-container w3-content" style="max-width:1200px;">
        <img class="w3-image" src="src/images/im1.jpg" alt="The Login" style="min-width:1000px" width="1500" height="800">

        <div class="w3-display-topleft w3-text-white" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">Esta es nuestra Banca</span><br>
        </div>

        <div class="w3-display-left w3-padding w3-col 16 m8">

          <div class="w3-container w3-round w3-center w3-teal" style="width:40%">
            <h2>Página login!</h2>
          </div>

          <div class="w3-container" style="width:40%">
            </br>
            <label class="w3-text-teal"><b>Email</b></label>
            <input name="email" placeholder="email" type="email" value="{{email::input}}" class="w3-round w3-input w3-border w3-light-grey" required>

            </br>
            <label class="w3-text-teal"><b>Password</b></label>
            <input placeholder="password" type="password" value="{{password::input}}"  class="w3-round w3-input w3-border w3-light-grey" required>
            </br>
            <button class="w3-button w3-round w3-blue-grey" on-click="login">Entrar</button>
            <span class="w3-text-red" hidden$="{{!isError}}">Error de usuario o password</span>

            <h4 class="w3-text-white  w3-center" on-click="altaCliente">¿No es cliente?</h4>
          </div>
        </div>
    </header>

    <iron-ajax
    id="doLogin"
    url="http://localhost:3000/apitechu/v2/login"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuarioIron extends Polymer.Element {
      static get is() { return 'login-usuario-iron'; }
      static get properties() {
        return {
          password: {
            type: String
          }, email: {
            type: String
          }, isLogged: {
            value: false,
            type: Boolean
          }, isError: {
            value: false,
            type: Boolean
          }, idUsuario:  {
            type: Number
          }
        }
      }
      login(){
        console.log("El usuario ha pulsado el botón - IRON");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

          //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
          this.$.doLogin.body = JSON.stringify(loginData);
          //este ḿétodo va a lanzar la petición IRON AJAX
          this.$.doLogin.generateRequest();

          console.log("Petición enviada");

      }

      //si todo OK se ejecuta esto: cuando recibimos algo que no es un error pasa por esta función manageAJAXResponse
      manageAJAXResponse(data) {
        console.log("Llegaron los resultados de la API");
        console.log(data.detail.response.idUsuario);

        this.idUsuario = data.detail.response.idUsuario;
        console.log("idUsuario:");
        console.log(this.idUsuario);
        this.isLogged = true;
        console.log(this.isLogged);
        //enviar EmisorEvento

        //prueba para almacenar en memoria local
        if (this.isLogged) {
          localStorage.setItem("idUsuario",this.idUsuario);
        }

        //con esto indico que vaya a home si todo va bien
        window.location = "home";

        //con esto hago una redirección a la url user/
        // window.location = "user/" + data.detail.response.idUsuario;
      }

      altaCliente()  {
        console.log("entra alta cliente");
        window.location = "altaCliente";
      }


      //si ERROR se ejecuta esto: cuando recibimos algo que es un error pasa por esta función showError
      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        this.isError = true;
      }
    }


    window.customElements.define(LoginUsuarioIron.is, LoginUsuarioIron);
  </script>
</dom-module>
