<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="datos-personales">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- barra de navegación -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" title="Toggle Navigation Menu"></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="volverHome">POSICION GLOBAL</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="logout">LOGOUT</a>
      </div>
    </div>

    <!-- imagen -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      <div class="mySlides w3-display-container w3-center">
        <img src="src/images/png/union.png" style="width:100%"  class="w3-grayscale-min">

        <div class="w3-display-middle" style="max-width:800px">
          <h1 class="w3-jumbo w3-hide-small w3-text-grey">Datos</h1>
          <h1 class="w3-jumbo w3-hide-small w3-text-grey">Personales</h1>
          <span class="w3-jumbo w3-hide-small w3-text-teal"><h1 class="w3-jumbo">{{first_name}}</h1></span><br>
        </div>

      </div>

    </div>

    <div class="w3-display-bottommiddle w3-center w3-text-teal" style="width:20%" >
      <h2>Rellene los datos</h2>

      </br>
      <label class="w3-text-teal w3-left" ><b>Nombre</b></label>
      <input name="first_name" placeholder="first_name" type="string" value="{{first_name::input}}" class="w3-input w3-border w3-light-grey w3-round" required>

      </br>
      <label class="w3-text-teal w3-left"><b>Apellido</b></label>
      <input name="last_name" placeholder="last_name" type="string" value="{{last_name::input}}" class="w3-input w3-border w3-light-grey w3-round" required>

      </br>
      <label class="w3-text-teal w3-left"><b>Mail</b></label>
      <input name="email" placeholder="email" type="mail" value="{{email::input}}" class="w3-input w3-border w3-light-grey w3-round" required>

      </br>
      <button class="w3-button w3-round w3-teal"  on-click="modificarDatos">modificar</button>


    </div>




    <iron-ajax auto
    id="doConsultaCliente"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    content-type="application/json"
    method="GET"
    on-response="manageAJAXResponse"
    on-error="showError"
    />
    <iron-ajax
    id="domodificarDatos"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    content-type="application/json"
    method="PUT"
    body =[{"first_name": "{{first_name}}", "last_name": "{{last_name}}" ,"email": "{{email}}"}]
    on-response="manageAJAXResponsedos"
    on-error="showError"
    />


    <iron-ajax
    id="doLogout"
    url="http://localhost:3000/apitechu/v2/logout/{{id}}"
    method="POST"
    handle-as="json"
    on-response="showData"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DatosPersonales extends Polymer.Element {
      static get is() { return 'datos-personales'; }
      static get properties() {
        return {
          id: {
            type: Number,
            value: localStorage.idUsuario
          }, email: {
            type: String
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, isError: {
            value: false,
            type: Boolean
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("manageAJAXResponse");

        console.log(data.detail.response);
        console.log(data.detail.status);
        console.log(data.detail.error);

        if (data.detail.status === 200) {

            this.first_name = data.detail.response.first_name;
            this.last_name = data.detail.response.last_name;
            this.email = data.detail.response.email;

        } else {

          this.isError = "true";
          console.log("error en modificación datos:",data.detail.status);

        }
      }

      modificarDatos() {
        console.log("entra modificar datos");

        //falta la llamada a la función que ya está arriba
        //doModificacionCliente

        var usuariomodificado = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email
        };

        console.log("usuariomodificado:",usuariomodificado);

        //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
        this.$.domodificarDatos.body = JSON.stringify(usuariomodificado);
        //este ḿétodo va a lanzar la petición IRON AJAX
        this.$.domodificarDatos.generateRequest();

        // window.location = "/datospersonales";
      }

      volverHome(e) {
        window.location = "/home";
      }
      logout() {
        console.log("logout id:",localStorage.idUsuario);

        this.id = localStorage.idUsuario;

        //inicializo variable
        var idlogout = {};

        //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
        this.$.doLogout.body = JSON.stringify(idlogout);
        //este ḿétodo va a lanzar la petición IRON AJAX
        this.$.doLogout.generateRequest();

        window.location = "/";
      }

      manageAJAXResponsedos() {

        //falta meter si error....

        window.location = "/datospersonales";

      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        this.isError = true;
      }
    }


    window.customElements.define(DatosPersonales.is, DatosPersonales);
  </script>
</dom-module>
