<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="users-page">

  <template>
    <style is="custom-style">

      cells-component-app-header {
        --cells-component-app-header-bg-color: #002171;
      }

      cells-template-paper-drawer-panel {
        background-color:#5472d3;
      }

      .container {
        padding-bottom: 140px;
        margin: 20px 20px 40px;
        background-color:#0d47a1 ;
        position: relative;
      }

      .container h2 {
        padding-top: 20%;
        color: white;
        text-align: center;
        font-family: sans-serif;
      }

      .container:after {
        content: '';
        display: block;
        clear: both;
      }

      /*.prev-next-button {
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        border: none;
        font-size: 30px;
        color: #0d47a1;
        transform: translateY(-50%);
      }

      .previous { left: 10px; }
      .next { right: 10px; }*/
    </style>

    <cells-template-paper-drawer-panel mode="seamed">

      <div slot="app__main">
        <!-- itear en nuestra plantilla sobre elementos con dom-repeat (tipo de helper) -->
        <template is="dom-repeat" items=[[users]] as="user">
          <!-- lo que hayaqui dentro se ejecuta una vez por elemento -->
          <p>
            <!-- [[item.name]] - [[item.email]] -->
            <!-- usando as="user" puedo usar user en lugar de item -->
            [[user.name]] - [[user.email]]
          </p>
        </template>

        <button on-click="_navigateHome">Volver a home</button>

<!-- japp2-e -->
<!-- marca1-llamada profe api - entrada -->
        <!-- <cells-generic-dp
          id="usersDP"
          host="https://jsonplaceholder.typicode.com"
          path="users"
          on-request-success="_handleRequestSuccess">
        </cells-generic-dp> -->
<!-- marca1-llamada profe api - salida -->

<!-- tengo que probar a meter:   path="users/4" -->
        <!-- body='{"key":"value"}'
        headers='{"key":"value"}' -->
        <cells-generic-dp
          id="usersDP"
          host="http://localhost:3000/apitechu/v2"
          path="users"
          method="GET"
          on-request-success="_handleRequestSuccess">
        </cells-generic-dp>
<!-- japp2-s -->



      </div>
    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class UsersPage extends CellsPage {
        static get is() {
          return 'users-page';
        }

        static get properties() {
          return {

            // headerTitle: {
            //   type: String,
            //   value: 'This the users page!'
            // }
            users: {
              type: Array,
              value: []
            }
          };
        }

        onPageEnter() {

          // console.log('Page loaded');
          // con esto que pongo a continuación, cada vez que entro se lanza el dataprovider
          this.$.usersDP.generateRequest();
        }

        onPageLeave() {
          console.log('Page unloaded');
        }

        _handleRequestSuccess(evt) {

          //evt es el evento
          console.log(evt);

          //detalle del evento
          const detail = evt.detail;
          const users = [];

          //esto siguiente es por un error que tienen en cells...pero puede que no se tenga que ahcer
          delete detail.headers;

          //hasta aqui...
          //japp1-e
          //operador forEach para recorrer el array users, y se pone user porque se itere sobre un usuario solo
          //marca1-entrada código profe
          // detail.forEach(function(user){
          //   const normalizedUser = {
          //     id: user.id,
          //     name: user.name,
          //     username: user.username,
          //     email: user.email
          //   };
          //marca1-salida código profe

          detail.forEach(function(user) {
            const normalizedUser = {
              id: user.id,
              name: user.first_name,
              username: user.last_name,
              email: user.email,
              logged: user.logged
            };

            //japp1-s
            //con esto vamos incluyendo en el array la info
            users.push(normalizedUser);
          });

          //para trabajar con arrays hay que usar los métodos que polymer propone, como set, porque si no no se refrescan...
          //seteamos la propiedad user con el valor de nuestra variable intermedia
          this.set('users', users);

          //ahora vamos a crear un canal donde dejar la info para poder consultarla desde otras paginas
          this.publish('ch_users', users);

        }

        _navigateHome() {
          this.navigate('home');
        }

        // _handleClick() {
        //   this.publish('from-channel', {from: 'home'});
        //   this.navigate('another', {title: 'This is another page'});
        // }
      }

      window.customElements.define(UsersPage.is, UsersPage);
    }
  </script>
</dom-module>
