<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<!-- <link rel="import" href="../visor-cuentas/visor-cuentas.html"> -->
<link rel="import" href="../../src/visor-cuentas/visor-cuentas.html">

<dom-module id="borrador-front-proyecto-app">
  <template>
    <style></style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- barra de navegación -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" title="Toggle Navigation Menu"></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="altaCuenta">ALTA CUENTA NUEVA</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="datosPersonales">DATOS PERSONALES</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="logout">LOGOUT</a>
        <!-- <a href="#cuentas" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CUENTAS</a> -->
      </div>
    </div>

    <!-- <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
      <a href="#band" class="w3-bar-item w3-button w3-padding-large">BAND</a>
    </div> -->

    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      <div class="mySlides w3-display-container w3-center">
        <img src="src/images/png/personas.png" style="width:100%" >

        <div class="w3-display-topleft w3-text-teal" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">Esta es nuestra Banca</span><br>
        </div>
        <div class="w3-display-middle" style="padding:48px">
          <span class="w3-text-red" hidden$="{{!isError}}">Error durante el alta de la nueva cuenta</span>
        </div>
      </div>
    </div>


    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="cuentas">
      <visor-cuentas></visor-cuentas>
    </div>

    <iron-ajax
    id="doLogout"
    url="http://localhost:3000/apitechu/v2/logout/{{id}}"
    method="POST"
    handle-as="json"
    on-response="showData"
    />

    <iron-ajax
    id="doAltaCuenta"
    url="http://localhost:3000/apitechu/v2/users/accounts/{{id}}"
    handle-as="json"
    content-type="application/json"
    method="POST"
    on-response="manageAJAXResponse"
    on-error="showError"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BorradorFrontProyectoApp extends Polymer.Element {
      static get is() { return 'borrador-front-proyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String,
            value: "Juan"
          }, last_name: {
            type: String,
            value: "Puertas"
          }, age: {
            type: Number,
            value: 28
          }, isError: {
            value: false,
            type: Boolean
          }, id: {
            type: String
          }
        };
      }

    logout() {
      console.log("logout id:",localStorage.idUsuario);

      this.id = localStorage.idUsuario;

      //inicializo variable
      var idlogout = {};

      //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
      this.$.doLogout.body = JSON.stringify(idlogout);
      //este ḿétodo va a lanzar la petición IRON AJAX
      this.$.doLogout.generateRequest();

      window.location = "/";
      }

    altaCuenta() {
      console.log("altaCuenta id:",localStorage.idUsuario);

      this.id = localStorage.idUsuario;

      //inicializo variable
      var AltaCuenta = {};

      this.$.doAltaCuenta.body = JSON.stringify(AltaCuenta);
      this.$.doAltaCuenta.generateRequest();
      }

      datosPersonales() {
        console.log("datos personales");

        window.location = "/datospersonales";

        }

      manageAJAXResponse(data) {
        console.log("Recibo datos de Alta cuenta");
        window.location = "home";
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        this.isError = true;
      }
    }

    window.customElements.define(BorradorFrontProyectoApp.is, BorradorFrontProyectoApp);
  </script>
</dom-module>
