<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- barra de navegación -->
    <div class="w3-top">
      <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" title="Toggle Navigation Menu"></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="volverHome">POSICION GLOBAL</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" on-click="logout">LOGOUT</a>
      </div>
    </div>

    <!-- imagen -->
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
      <div class="mySlides w3-display-container w3-center">
        <img src="src/images/png/manos2.png" style="width:100%"  class="w3-grayscale-min">

        <div class="w3-display-middle" style="max-width:800px">
          <h1 class="w3-jumbo w3-hide-small w3-text-white">MOVIMIENTOS</h1>
          <span class="w3-jumbo w3-hide-small w3-text-white"><h2>{{iban2}}</h2></span><br>
        </div>

      </div>

    </div>

    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="cuentas">

      <template is="dom-repeat" items="{{movements}}">
          <!-- <h3 class="w3-opacity">IBAN:{{item.IBAN}}</h3> -->
          <!-- <h2>movementId:{{item.movementId}}</h2> -->
          <h3 class="w3-opacity">{{item.concept}}</h3>
          <h3 class="w3-opacity">{{item.movementDate}}</h3>
          <h5 class="w3-text-indigo">{{item.phone}}</h4>
          <h1 class="w3-text-teal">{{item.import}} EUROS</h1>
          <h3 class="w3-text-teal">({{item.importUSD}} USD)</h3>

          </br>
      </template>

      <div>
        <h3 class="w3-opacity" hidden$="{{!noExisten}}">No existen movimientos</h3>
        </br>
        </br>
      </div>

    </div>

    <iron-ajax auto
    id="getRatesDivisa"
    url="http://localhost:3000/apiexterna/RatesDivisa"
    handle-as="json"
    on-response="showData"
    />
    <iron-ajax
    id="doGetMovements"
    url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts/{{iban}}/movements"
    handle-as="json"
    on-response="showDataDos"
    />
    <iron-ajax
    id="doLogout"
    url="http://localhost:3000/apitechu/v2/logout/{{id}}"
    method="POST"
    handle-as="json"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          accountId: {
            type: Array
          }, IBAN: {
            type: Array
          }, movementId: {
            type: Array
          }, concept: {
            type: Array
          }, import: {
            type: Array
          }, importUSD: {
            type: Array
          }, cambioUSD: {
            type: Array
          }, movementDate: {
            type: Array
          }, id: {
            type: Array,
            value: localStorage.idUsuario
          }, iban: {
            type: Array,
            value: localStorage.IBAN.substr(0,4)+localStorage.IBAN.substr(5,4)+localStorage.IBAN.substr(10,4)+localStorage.IBAN.substr(15,4)+localStorage.IBAN.substr(20,4)
          }, iban2: {
            type: Array,
            value: localStorage.IBAN.substr(0,4)+" "+localStorage.IBAN.substr(5,4)+" "+localStorage.IBAN.substr(10,4)+" "+localStorage.IBAN.substr(15,4)+" "+localStorage.IBAN.substr(20,4)
          }, noExisten: {
            value: false,
            type: Boolean
          }
        };
      }

      showData(data) {

        this.cambioUSD = data.detail.response.rates.USD;

        var movements = {};

        //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
        this.$.doGetMovements.body = JSON.stringify(movements);
        //este ḿétodo va a lanzar la petición IRON AJAX
        this.$.doGetMovements.generateRequest();
      }
      showDataDos(data) {
        console.log("showData");
        // console.log(data.detail.response[0]);
        console.log(data.detail.response);
        console.log(data.detail.status);
        console.log(data.detail.error);
        if (data.detail.status === 204) {
            this.noExisten = "true";
            console.log("no existen movimientos");
        } else {

            console.log("existen movimientos");
            console.log("this.cambioUSD:",this.cambioUSD);

            this.movements = data.detail.response;

        }
      }

      volverHome(e) {
        window.location = "/home";
      }
      logout() {
        console.log("logout id:",localStorage.idUsuario);

        this.id = localStorage.idUsuario;

        //inicializo variable
        var idlogout = {};

        //para referirme a un elemento del DOM local uso $. Y con esto le indico que recoja la variable loginData en el body de llamada
        this.$.doLogout.body = JSON.stringify(idlogout);
        //este ḿétodo va a lanzar la petición IRON AJAX
        this.$.doLogout.generateRequest();

        window.location = "/";
      }

      showError(error) {
        console.log("Ha habido un error");
        console.log(error);
        this.isError = true;
      }
    }


    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
