<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <h1 class="w3-text-grey w3-padding-16">CUENTAS PERSONALES</h1>

    <template is="dom-repeat" items="{{accounts}}">
        <div>
          <h3 class="w3-opacity" on-click="goMovements">IBAN:{{item.IBAN}}</h3>
          <h1 class="w3-text-teal">{{item.balance}} EUR</h1>

          <select class="btn w3-teal" name="TIPO2" on-click="funcionOperar" value="{{componentName::change}}">
            <option selected>QUIERO</option>
            <option value="visor-ingreso">Solicitar Dinero</option>
            <option value="visor-cargo">Enviar Dinero</option>
          </select>
          <!-- <button class="btn w3-teal" on-click="funcionOperar">GO</button> -->
        </div>
        <!-- on-change="funcionOperar" -->



        </br>
    </template>

    <!-- </br>
    </br>
    <button class="w3-button w3-circle w3-teal">+</button> -->

    <iron-ajax auto
    id="getAccount"
    url="http://localhost:3000/apitechu/v2/users/accounts/{{id}}"
    handle-as="json"
    on-response="showData"
    />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          // cuentaId: {
          //   type: Number
          // }, IBAN: {
          //   type: String
          // }, balance: {
          //   type: Number
          // }
          id: {
            type: Array,
            value : localStorage.idUsuario
          }, userId: {
            type: Array
          }, accounts: {
            type: Array
          }
        };
      }
      showData(data) {
        console.log("showData");
        // console.log(data.detail.response[0]);
        console.log(data.detail.response);
        // console.log(data.detail.__data.response);
        //this soy yo
        // this.cuentaId = data.detail.response.cuentaId;
        // this.IBAN = data.detail.response.IBAN;
        // this.balance = data.detail.response.balance;
        this.accounts = data.detail.response;
      }
      goMovements(e) {
        console.log("entra2");
        console.log("cuentaId:", e.detail);
        console.log("cuentaId:", e.model.__data.item.IBAN);
        localStorage.IBAN = e.model.__data.item.IBAN;
        console.log("localStorage.IBAN:",localStorage.IBAN);
        window.location = "/movements";

        // this.publish('ch_cuentas', 'localStorage');
          // this.publish('from-channel', {from: 'useraccount'});
          // this.navigate('Hola');
        // _handleClick() {
          // this.publish('from-channel', {from: 'home'});
        //   this.navigate('another', {title: 'This is another page'});
        // }
      }

      funcionOperar(e) {
        console.log("entra funcionOperar");
        console.log(e);
        console.log('e.model.__data: ', e.model.__data);
        console.log('e.model.__data.componentName): ', e.model.__data.componentName);
        console.log('e.model.__data.item: ', e.model.__data.item);
        console.log("e.model.__data.item.IBAN: ", e.model.__data.item.IBAN);
        // console.log("e.model.__data.item.balance: ", e.model.__data.item.balance);

        localStorage.IBAN = e.model.__data.item.IBAN;
        // localStorage.balance = e.model.__data.item.balance;

        if (e.model.__data.componentName == "visor-ingreso") {
          window.location = "/altaingreso";
        }
        if (e.model.__data.componentName == "visor-cargo") {
          window.location = "/altacargo";
        }
      }

      function(value){
        var cadena;
        console.log("entra3");
        console.log("formulaire.TIPO.selectedIndex:",this);
        console.log("valor:",value);
        console.log("TIPO2",TIPO2);

        switch(value){
          case 1:
            console.log("case1");
          case 2:
            console.log("case2");

        }
      }



    }


//esta es la funcion que relaciona el customElements con la etiqueta visor-usuario
    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
