<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">

<dom-module id="home-page">

  <template>
    <style is="custom-style">

      cells-component-app-header {
        --cells-component-app-header-bg-color: #002171;
      }

      cells-template-paper-drawer-panel {
        background-color:#5472d3;
      }

      .container {
        padding-bottom: 140px;
        margin: 20px 20px 40px;
        background-color:#0d47a1 ;
        position: relative;
      }

      .container h2 {
        padding-top: 20%;
        color: white;
        text-align: center;
        font-family: sans-serif;
      }

      .container:after {
        content: '';
        display: block;
        clear: both;
      }

      .prev-next-button {
        position: absolute;
        top: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        border: none;
        font-size: 30px;
        color: #0d47a1;
        transform: translateY(-50%);
      }

      .previous { left: 10px; }
      .next { right: 10px; }
    </style>

    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <cells-component-app-header
          text=[[headerTitle]]>
        </cells-component-app-header>
      </div>

      <div slot="app__main" class="container">
        <h1>[[status]]</h1>
        <h2>Navigate to another page</h2>
        <button id="navigateButton"
                on-click="_handleClick"
                class="prev-next-button next">&rarr;</button>
      </div>
    </cells-template-paper-drawer-panel>
  </template>

  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class HomePage extends CellsPage {
        static get is() {
          return 'home-page';
        }

        static get properties() {
          return {
            headerTitle: {
              type: String,
              value: 'This the home page!'
            },
            status: String
          };
        }

        // función para subscribirme al canal creado desde users-page
        ready() {
          super.ready();

          // this.subscribe('ch_users', function(users) {
          //   this.status = users.legth;
          // });
          this.subscribe('ch_users', (users) => {
            console.log(users);

            // this.status = 'test ' + users.length;
            // this.status = users.length;
            this.status = users[0].email;
          });
        }

        onPageEnter() {
          console.log('Page loaded');
        }

        onPageLeave() {
          console.log('Page unloaded');
        }

        _handleClick() {
          this.publish('from-channel', {from: 'home'});

          // this.navigate('another', {title: 'This is another page'});
          this.navigate('users');
        }
      }

      window.customElements.define(HomePage.is, HomePage);
    }
  </script>
</dom-module>
