<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../src/login-usuario/login-usuario.html">
<link rel="import" href="../../src/visor-usuario/visor-usuario.html">
<link rel="import" href="../../src/visor-cuentas/visor-cuentas.html">

<dom-module id="test-iron-pages">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <h1 class="jumbotron">Test iron pages</h1>
    <select value="{{componentName::change}}">
      <option value="">Seleccionar componente</option>
      <option value="login-usuario">Login Usuario</option>
      <option value="visor-cuentas">Visor Cuentas</option>
      <option value="visor-usuario">Visor Usuario</option>
    </select>
    <!-- Iron pages tiene un atributo que es selected -->
    <iron-pages selected="{{componentName}}" attr-for-selected="component-name">
      <div component-name="login-usuario"><Login-usuario></Login-usuario></div>
      <div component-name="visor-cuentas"><visor-cuentas id="4"></visor-cuentas></div>
      <div component-name="visor-usuario"><visor-usuario id="4"></visor-usuario></div>
    </iron-pages>
<!--
    <iron-ajax auto
    id="getUser"
    url="http://localhost:3000/apitechu/v2/users/{{id}}"
    handle-as="json"
    on-response="showData"
    /> -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestIronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName: {
            type : String
          }
        };
      }
    }

//esta es la funcion que relaciona el customElements con la etiqueta TestIreonPages
    window.customElements.define(TestIronPages.is, TestIronPages);
  </script>
</dom-module>
